table, td {
  border: 1px solid black;
  text-align: center;
  font-size: 5vh;
  vertical-align: middle;
}

th {
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  font-size: 5vh;
  vertical-align: middle;
}

@media screen and (max-width: 500px) {

}
