table, td {
  border: 1px solid black;
  text-align: center;
  font-size: 4vh;
  vertical-align: middle;
}

th {
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  font-size: 4vh;
  vertical-align: middle;
}

input {
  font-size: 4vh;
  height: 5vh;
  vertical-align: middle;
  text-align: center;
}

@media screen and (max-width: 500px) {
  table, th, td, tr {
    display: block;
  }

  tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border: 1px solid black;
  }

  td {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
