{% extends "pool/base.html" %}

{% block content %}
<h2>Add/Edit Groups</h2>
<form method="post">
	<table>
		<tr>
			<td>
				Starting Rank
			</td>
			<td>
				Name
			</td>
			<td>
				Country
			</td>
			<td>
				Group
			</td>
		</tr>
		{% for golfer in golfers %}
			<tr>
				<td>
					{{ golfer.startingRank }}
				</td>
				<td>
					{{ golfer.name }}
				</td>
				<td>
					{{ golfer.country }}
				</td>
				<td>
					<select name="{{ golfer.id }}">
						{% for group in groups %}
							{% if group.id == golfer.group.id %}
								<option value="{{ group.id }}" selected>{{ group.name }}</option>
							{% else %}
								<option value="{{ group.id }}">{{ group.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>

		{% endfor %}
	</table>

	<input type="submit" value="Submit Changes">
</form>

{% endblock %}
