{% extends "pool/base.html" %}

{% block content %}
<h2>Add Results</h2>
<form method="post">
	Tournament
	<select name="tournament">
		{% for i in range(0,available_tournaments_id|length) %}
			<option value="{{ available_tournaments_id[i] }}">{{ available_tournaments_name[i] }}</option>
		{% endfor %}
		<!-- {% for tournament in tournaments %}
			<option value="{{ tournament.id }}">{{ tournament.name }}</option>
		{% endfor %} -->
	</select>
	<table>
		<tr>
			<td>
				<b>Name</b>
			</td>
			<td>
				<b>Rank</b>
			</td>
		</tr>
		{% for golfer in golfers %}
			<tr>
				<td>
					{{ golfer.name }}
				</td>
				<td>
					<input type="text" name="{{ golfer.id }} result">
				</td>
			</tr>
		{% endfor %}
	</table>

	<input type="submit" value="Submit Results">
</form>

{% endblock %}
