{% extends "pool/base.html" %}

{% block content %}
<form method="post">
	<h2>Add a golfer to the pool</h2>
	Name
	<input type="text" name="golferName" size="120px">
	<br><br>
	Country
	<input type="text" name="golferCountry" size="118px">
	<br><br>
	Rank
	<input type="text" name="golferRank" size="118px">
	<br><br>
	Group
	<select name="golferGroup">
		{% for group in groups %}
			<option value="{{ group.id }}">{{ group.groupname }}</option>
		{% endfor %}
	</select>
	<br><br>
	<input type="submit" value="Add Golfer">
</form>

{% endblock %}
