{% extends "pool/base.html" %}

{% block content %}
<h2>Edit Golfers / Groups</h2>
<form method="post">
	<table>
		<tr>
			<td>
				<b>Starting Rank</b>
			</td>
			<td>
				<b>Name</b>
			</td>
			<td>
				<b>Country</b>
			</td>
			<td>
				<b>Group</b>
			</td>
		</tr>
		{% for golfer in golfers %}
			<tr>
				<td>
					{{ golfer.startingRank }}
				</td>
				<td>
					{{ golfer.name }}
				</td>
				<td>
					{{ golfer.country }}
				</td>
				<td>
					<select name="{{ golfer.id }}">
						{% for group in groups %}
							{% if group.id == golfer.group.id %}
								<option value="{{ group.id }}" selected>{{ group.groupName }}</option>
							{% else %}
								<option value="{{ group.id }}">{{ group.groupName }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>

		{% endfor %}
	</table>

	<input type="submit" value="Submit Changes">
</form>

{% endblock %}
