{% extends "pool/base.html" %}

{% block content %}
<h2>Standings</h2>
<table>
	<tr>
		<td>
			<b>Golfer</b>
		</td>
		<td>
			<b>Points Total</b>
		</td>
		{% for tournament in tournaments %}
			<td>
				<b>{{ tournament.name }}</b>
			</td>
		{% endfor %}
	</tr>
	{% for username in users %}
		{% if username.username != "admin" %}
			{% if username.username == user.username %}
				<tr>
					<td><b>{{ username.username }}</b></td>
					<td id="{{ username.id }} total"></td>
					<td>
						<b>{{ points[username.id - 1] }}</b>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{{ username.username }}</td>
					<td id="{{ username.id }} total"></td>
					<td>
						{{ points[username.id - 1] }}
					</td>
				</tr>
			{% endif %}
		{% endif %}
	{% endfor %}
</table>

{% endblock %}
