{% extends "pool/base.html" %}

{% block content %}
<h2>{{ page_user }}'s Standings</h2>
<table class="grid">
	<tr>
		<td class="grid">
			<b>Rank</b>
		</td>
		<td class="grid">
			<b>Golfer Name</b>
		</td>
		<td class="grid">
			<b>Points Total</b>
		</td>
		{% for tournament in tournaments %}
			<td class="grid">
				<b>{{ tournament.name }}</b>
			</td>
		{% endfor %}
	</tr>
	{% for choice in choices %}
		<tr>
			<td class="grid">
				{{ ranks[choice.golfer.id - 1] }}
			</td>
			<td class="grid">
				{{ choice.golfer.name }}
			</td>
			<td class="grid">
				{{ golfer_points[choice.golfer.id - 1] }}
			</td>
			{% for tournament in tournaments %}
				<td class="grid">
					{% if points[tournament.id - 1][choice.golfer.id - 1] != 0 %}
						{{ points[tournament.id - 1][choice.golfer.id - 1] }}
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
{% endblock %}
