{% extends "pool/base.html" %}

{% block content %}
<h2>View Groups</h2>
<form method="post">
	<table>
		{% for group in groups %}
			<tr>
				<td>
					<b>{{group.groupName}}</b>
				</td>
			</tr>
			<tr>
				<td>
					Starting Rank
				</td>
				<td>
					Name
				</td>
				<td>
					Country
				</td>
			</tr>
			{% for golfer in golfers %}
				{% if golfer.group.id == group.id %}
					<tr>
						<td>
							{{ golfer.startingRank }}
						</td>
						<td>
							{{ golfer.name }}
						</td>
						<td>
							{{ golfer.country }}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			<br>
		{% endfor %}
	</table>
</form>

{% endblock %}
