{% extends "pool/base.html" %}

{% block content %}
<h2>View Results</h2>
<table class="grid">
	<tr>
		<td class="grid">
			<b>Golfer</b>
		</td>
		<td class="grid">
			<b>Total Score</b>
		</td>
		{% for tournament in tournaments %}
			<td class="grid">
				<b>{{ tournament.name }}</b>
			</td>
		{% endfor %}
	</tr>
	{% for golfer in golfers %}
		<tr>
			<td class="grid">{{ golfer.name }}</td>
			<td class="grid" id="{{ golfer.id }} score"></td>
			{% for tournament in tournaments %}
				<td class="grid">
					{% for result in results %}
						{% if result.tournament == tournament and result.golfer == golfer %}
							{{ result.overall }}
						{% endif %}
					{% endfor %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

{% endblock %}
