<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Cash Counter</title>
	<link href="{{ url_for('static',filename='css/cash.css') }}" rel="stylesheet" type="text/css">
	<!--
	<link href="../static/css/cash.css" rel="stylesheet" type="text/css">
	-->
</head>

<body>
	<div id="bold" class="row">
		<div class="col-1">Value</div>
		<div class="col-1">Quantity</div>
		<div class="col-1">$$$'s'</div>
	</div>
	<div class="row">
		<div class="col-1">$100</div>
		<div class="col-1"><input id="hundreds" type="text"></input></div>
		<div class="col-1" id="hundreds-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$50</div>
		<div class="col-1"><input id="fifties" type="text"></input></div>
		<div class="col-1" id="fifties-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$20</div>
		<div class="col-1"><input id="twenties" type="text"></input></div>
		<div class="col-1" id="twenties-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$10</div>
		<div class="col-1"><input id="tens" type="text"></input></div>
		<div class="col-1" id="tens-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$5</div>
		<div class="col-1"><input id="fives" type="text"></input></div>
		<div class="col-1" id="fives-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$2</div>
		<div class="col-1"><input id="twoonies" type="text"></input></div>
		<div class="col-1" id="twoonies-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$1</div>
		<div class="col-1"><input id="loonies" type="text"></input></div>
		<div class="col-1" id="loonies-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$0.25</div>
		<div class="col-1"><input id="quarters" type="text"></input></div>
		<div class="col-1" id="quarters-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$0.10</div>
		<div class="col-1"><input id="dimes" type="text"></input></div>
		<div class="col-1" id="dimes-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$0.05</div>
		<div class="col-1"><input id="nickels" type="text"></input></div>
		<div class="col-1" id="nickels-value"></div>
	</div>
	<div class="row">
		<div class="col-1">$0.01</div>
		<div class="col-1"><input id="pennies" type="text"></input></div>
		<div class="col-1" id="pennies-value"></div>
	</div>
	<div id="bold" class="row">
		<div class="col-1">Total</div>
		<div class="col-1"></div>
		<div class="col-1" id="total-value"></div>
	</div>
	<div class="row">
		<div id="bold" class="col-1">
			<input id="submit" value="go" type="submit"></input>
		</div>
	</div>

<!--
<script type="text/javascript" src="../static/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/cash.js"></script>
-->
<script type="text/javascript" src="{{ url_for('static',filename='js/libs/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/cash.js') }}"></script>

</body>

</html>
