<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Viking Hill Productions</title>
	<!--<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
	-->
		<link href="{{ url_for('static',filename='css/viking.css') }}" rel="stylesheet" type="text/css">
	<link href="css/viking.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header class="row" id="topHeader">
		<div class="col-5" id="vikingHill">
			<img src="{{ url_for('static', filename='img/title.png') }}">
		</div>
		<div class="col-5" id="blank">
		</div>
		<div class="col-2" id="circles">
			<img src="{{ url_for('static', filename='img/dots.png') }}">
		</div>
	</header>
	<header class="row" id="bottomHeader">
		<div class="col-4" id="blankBottomHeader">
		</div>
		<div class="col-2 inactive" id="art">
			Art
		</div>
		<div class="col-2 inactive" id="words">
			Words
		</div>
		<div class="col-2 inactive" id="yoga">
			Yoga
		</div>
		<div class="col-2 inactive" id="contact">
			Contact
		</div>
	</header>
	<div id="indexContent">

	</div>
	<footer class="row" id="slider">
		<div id="welcome">
				Welcome
		</div>
	</footer>
	<!--
	<script type="text/javascript" src="js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="js/viking.js"></script>
	-->
	<script type="text/javascript" src="{{ url_for('static',filename='js/libs/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/viking.js') }}"></script>
</body>
</html>
