<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Show Settlement</title>

	<link href="{{ url_for('static',filename='css/settlement.css') }}" rel="stylesheet" type="text/css">

	<!--
	<link href="../static/css/settlement.css" rel="stylesheet" type="text/css">

	-->
</head>
<body>
	<div class="mobile-row">
		<div id="bold">Gross Sales</div>
		<input class="mobile-space" id="gross" type="text"></input>
	</div>
	<br>
	<div class="row">
		<div class="col-3">
			<div class="mobile-row">
				<div id="bold">Tax 1</div>
			</div>
			<div class="mobile-row">
				Name
				<input class="mobile-space" id="tax-1-name" type="text" value="GST"></input>
			</div>
			<div class="mobile-row">
				Rate
				<input class="mobile-space" id="tax-1-rate" type="text" value="5"></input>
			</div>
			<div class="mobile-row">
				% Retained by venue
				<input class="mobile-space" id="tax-1-retained" type="text" value="20"></input>
			</div>
		</div>
		<br>
		<div class="col-3">
			<div class="mobile-row">
				<div id="bold">Tax 2</div>
			</div>
			<div class="mobile-row">
				Name
				<input class="mobile-space" id="tax-2-name" type="text" value="PST"></input>
			</div>
			<div class="mobile-row">
				Rate
				<input class="mobile-space" id="tax-2-rate" type="text" value="7"></input>
			</div>
			<div class="mobile-row">
				% Retained by venue
				<input class="mobile-space" id="tax-2-retained" type="text" value="100"></input>
			</div>
		</div>
	</div>
	<br>
	<div>
		<div class="mobile-row">
			<div id="bold">Credit Card</div>
		</div>
		<div class="mobile-row">
			Gross
			<input class="mobile-space" id="cc-gross" type="text" value="0"></input>
		</div>
		<div class="mobile-row">
			Credit Card Percentage
			<input class="mobile-space" id="cc-percentage" type="text" value="0"></input>
		</div>
	</div>
	<br>
	<div class="mobile-row">
		<div id="bold">Venue Percentage</div>
		<input class="mobile-space" id="venue-percentage" type="text" value="20"></input>
	</div>
	<br>
	<div>
		<input id="submit" value="go" type="submit"></input>
	</div>
	<br>
	<div class="row">
		<div class="col-3">
			<div class="mobile-row">
				<div id="bold">Summary</div>
			</div>
			<div class="mobile-row">
				<span class="tax-1-name"></span> <span class="mobile-space"  id="tax-1-total"></span>
			</div>
			<div class="mobile-row">
				<span class="tax-2-name"></span> <span class="mobile-space"  id="tax-2-total"></span>
			</div>
			<div class="mobile-row">
				After Tax Gross <span class="mobile-space"  id="after-tax"></span>
			</div>
			<div class="mobile-row">
				Credit Card Fee <span class="mobile-space"  id="cc-fee"></span>
			</div>
			<div class="mobile-row">
				Adjusted Gross <span class="mobile-space"  id="adjusted"></span>
			</div>
			<div class="mobile-row">
				Artist Split <span class="mobile-space"  id="artist"></span>
			</div>
			<div class="mobile-row">
			 	Venue Split <span class="mobile-space"  id="venue"></span>
			</div>
		</div>
		<br>
		<div class="col-3">
			<div class="mobile-row" id="bold">Artist Take</div>
			<div class="mobile-row">
				<span class="tax-1-name"></span> <span class="mobile-space"  id="artist-tax-1"></span>
			</div>
			<div class="mobile-row">
				<span class="tax-2-name"></span> <span class="mobile-space"  id="artist-tax-2"></span>
			</div>
			<div class="mobile-row">
				Artist Split <span class="mobile-space"  id="artist-take"></span>
			</div>
			<div class="mobile-row" id="bold">Net to Artist <span class="mobile-space"  id="artist-net"></span></div>
		</div>
		<br>
		<div class="col-3">
			<div class="mobile-row" id="bold">Venue Take</div>
			<div class="mobile-row">
				<span class="tax-1-name"></span> <span class="mobile-space" id="venue-tax-1"></span>
			</div>
			<div class="mobile-row">
				<span class="tax-2-name"></span> <span class="mobile-space"  id="venue-tax-2"></span>
			</div>
			<div class="mobile-row">
				Venue Split <span class="mobile-space"  id="venue-take"></span>
			</div>
			<div class="mobile-row" id="bold">Net to venue <span class="mobile-space" id="venue-net"></span></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12">
			<div class="mobile-row">
				<div id="bold">Commodore Summary</div>
			</div>
			<div class="mobile-row">
				Sales Tax <span class="mobile-space" id="total-tax"></span>
			</div>
			<div class="mobile-row">
				<span class="tax-1-name"></span> <span class="mobile-space" id="tax-1-total"></span>
			</div>
			<div class="mobile-row">
				<span class="tax-2-name"></span> <span class="mobile-space" id="tax-2-total"></span>
			</div>
			<div class="mobile-row">
				GST Paid to Venue <span class="mobile-space" id="venue-tax-1"></span>
			</div>
			<div class="mobile-row">
				CC Fee <span class="mobile-space" id="cc-fee"></span>
			</div>
			<div class="mobile-row">
				Net Gross <span class="mobile-space" id="adjusted"></span>
			</div>
			<div class="mobile-row">
				Attraction <span class="mobile-space" id="artist"></span>
			</div>
			<div class="mobile-row">
				Hall <span class="mobile-space" id="venue"></span>
			</div>
			<div class="mobile-row">
				Net Venue Vending <span class="mobile-space" id="venue-net"></span>
			</div>
		</div>
	</div>
<!--
	<script type="text/javascript" src="../static/js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/settlement.js"></script>

-->
<script type="text/javascript" src="{{ url_for('static',filename='js/libs/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/settlement.js') }}"></script>


</body>

</html>
