<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Show Settlement</title>
	<link href="{{ url_for('static',filename='css/settlement.css') }}" rel="stylesheet" type="text/css">

	<!--
	<link href="../static/css/settlement.css" rel="stylesheet" type="text/css">
	-->
</head>
<body>
	<div>
		<div>
			<b><u>Gross Sales</u></b>
		</div>
		<div>
			<input id="gross" type="text"></input>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-3">
			<div>
				<b><u>Tax 1</u></b>
			</div>
			<div>
				Name
				<input id="tax-1-name" type="text" value="GST"></input>
			</div>
			<div>
				Rate
				<input id="tax-1-rate" type="text" value="5"></input>
			</div>
			<div>
				% Retained by venue
				<input id="tax-1-retained" type="text" value="20"></input>
			</div>
		</div>
		<div class="col-3">
			<div>
				<b><u>Tax 2</u></b>
			</div>
			<div>
				Name
				<input id="tax-2-name" type="text" value="PST"></input>
			</div>
			<div>
				Rate
				<input id="tax-2-rate" type="text" value="7"></input>
			</div>
			<div>
				% Retained by venue
				<input id="tax-2-retained" type="text" value="100"></input>
			</div>
		</div>
	</div>
	<br>
	<div>
		<div>
			<b><u>Credit Card</u></b>
		</div>
		<div>
			Gross
			<input id="cc-gross" type="text" value="0"></input>
		</div>
		<div>
			Credit Card Percentage
			<input id="cc-percentage" type="text" value="0"></input>
		</div>
	</div>
	<br>
	<div>
		<div>
			<b><u>Venue Percentage</u></b>
		</div>
		<div>
			<input id="venue-percentage" type="text" value="20"></input>
		</div>
	</div>
	<br>
	<div>
		<input id="submit" value="go" type="submit"></input>
	</div>
	<br>
	<div class="row">
		<div class="col-2">
			<div>
				<b><u>Summary</u></b>
			</div>
			<div>
				<span class="tax-1-name"></span> <span id="tax-1-total"></span>
			</div>
			<div>
				<span class="tax-2-name"></span> <span id="tax-2-total"></span>
			</div>
			<div>
				After Tax Gross <span id="after-tax"></span>
			</div>
			<div>
				Credit Card Fee <span id="cc-fee"></span>
			</div>
			<div>
				Adjusted Gross <span id="adjusted"></span>
			</div>
			<div>
				Artist Split <span id="artist"></span>
			</div>
			<div>
			 	Venue Split <span id="venue"></span>
			</div>
		</div>
		<div class="col-2">
			<b><u>Artist Take</u></b>
			<br>
			<span class="tax-1-name"></span> <span id="artist-tax-1"></span>
			<br>
			<span class="tax-2-name"></span> <span id="artist-tax-2"></span>
			<br>
			Artist Split <span id="artist-take"></span>
			<br>
			<b><u>Net to Artist <span id="artist-net"></span></u></b>
		</div>
		<div class="col-2">
			<b><u>Venue Take</u></b>
			<br>
			<span class="tax-1-name"></span> <span id="venue-tax-1"></span>
			<br>
			<span class="tax-2-name"></span> <span id="venue-tax-2"></span>
			<br>
			Venue Split <span id="venue-take"></span>
			<br>
			<b><u>Net to venue <span id="venue-net"></span></u></b>
		</div>
	</div>
<!--
	<script type="text/javascript" src="../static/js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/settlement.js"></script>
-->
<script type="text/javascript" src="{{ url_for('static',filename='js/libs/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/settlement.js') }}"></script>


</body>

</html>
